Repository sandialabs/Gulliver, pull requests merged in 2019-10, with the labels that each got.

#10 Update issue templates
  .github/ISSUE_TEMPLATE/documentation-needed.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/technical-debt.md
Labels: documentation

#14 fixes issues with current Issue Templates that were created in haste
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation-needed.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/technical-debt.md
Labels: documentation, enhancement

#15 Update shield links for license and .NET Standard
  README.md
Labels: documentation

#17 Update tasks to work a bit cleander
  .vscode/tasks.json
  psake.ps1
Labels: enhancement
